DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"

AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
APP_BASE_URL="http://localhost:3000"

RESEND_API_KEY=""
RESEND_FROM_EMAIL="DevStash <onboarding@resend.dev>"
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

EMAIL_VERIFICATION_ENABLED="false"
